@import 'src/styles/style.scss';

.member_counter {
  background-image: linear-gradient(90deg, #ee390f 0%, #f9b700 100%);

  padding: 73px 0px 73px;

  @media #{$small_mobile} {
    padding: 50px 0px 60px;
  }

  @media #{$large_mobile} {
    padding: 50px 0px 60px;
  }

  @media #{$tab_device} {
    padding: 50px 0px 60px;
  }

  @media #{$medium_device} {
    padding: 73px 0px 73px;
  }

  .single_member_counter {
    text-align: center;

    @media #{$small_mobile} {
      margin: 20px 0px;
    }

    @media #{$large_mobile} {
      margin: 20px 0px;
    }

    @media #{$tab_device} {
      margin: 20px 0px;
    }

    @media #{$medium_device} {
      margin: 20px 0px;
    }

    img {
      width: 78px;
      height: 58px;
      display: block;
      margin-bottom: 8px;
      margin-left: -10px;
    }

    span {
      font-size: 60px;
      font-weight: 700;
      color: $white_color;
      font-style: $font_stack_2;

      @media #{$small_mobile} {
        line-height: 67px;
        font-size: 40px;
      }

      @media #{$large_mobile} {
        line-height: 67px;
        font-size: 40px;
      }

      @media #{$tab_device} {
        line-height: 67px;
        font-size: 40px;
      }

      @media #{$medium_device} {
        line-height: 67px;
        font-size: 40px;
      }
    }

    h4 {
      color: $white_color;
      font-size: 24px;
      font-size: 600;
      margin-top: 28px;
      text-transform: capitalize;
      position: relative;

      &:after {
        position: absolute;
        left: 0;
        top: -20px;
        right: 0;
        margin: 0 auto;
        width: 60px;
        height: 1px;
        background-color: $white_color;
        content: '';

        @media #{$small_mobile} {
          top: -10px;
        }

        @media #{$large_mobile} {
          top: -10px;
        }

        @media #{$tab_device} {
          top: -10px;
        }

        @media #{$medium_device} {
          top: -10px;
        }
      }

      @media #{$small_mobile} {
        margin-top: 10px;
      }

      @media #{$large_mobile} {
        margin-top: 10px;
      }

      @media #{$tab_device} {
        margin-top: 10px;
      }

      @media #{$medium_device} {
        margin-top: 10px;
      }
    }
  }
}
