@import 'src/styles/style.scss';

.alert-container {
  position: fixed;
  top: 10vh;
  right: 0;
  width: 100%;
  max-width: 20vw;
  z-index: 100;

  @media #{$tab_device}, #{$large_mobile}, #{$small_mobile} {
    max-width: 90vw;
    margin: 0 5vw;
  }

  @media #{$xss_mobile} {
  }
}

.alert {
  position: relative;
  padding-right: 2rem;
  z-index: 9999999;
}

.alert > .start-icon {
  margin-right: 5px;
  min-width: 20px;
  text-align: center;
}

.greencross {
  font-size: 18px;
  color: #25ff0b;
}

.alert-simple.alert-success {
  border: 1px solid rgba(36, 241, 6, 0.46);
  background-color: rgba(7, 149, 66, 0.12156862745098039);
  box-shadow: 0px 0px 2px #259c08;
  color: #0ad406;
  transition: 0.5s;
  cursor: pointer;
}
.alert-success:hover {
  background-color: rgba(7, 149, 66, 0.35);
  transition: 0.5s;
}
.alert-simple.alert-info {
  border: 1px solid rgba(6, 44, 241, 0.46);
  background-color: rgba(7, 73, 149, 0.12156862745098039);
  box-shadow: 0px 0px 2px #0396ff;
  color: #0396ff;
  transition: 0.5s;
  cursor: pointer;
}

.alert-info:hover {
  background-color: rgba(7, 73, 149, 0.35);
  transition: 0.5s;
}

.blue-cross {
  font-size: 18px;
  color: #0bd2ff;
}

.alert-simple.alert-warning {
  border: 1px solid rgba(241, 142, 6, 0.81);
  background-color: rgba(220, 128, 1, 0.16);
  box-shadow: 0px 0px 2px #ffb103;
  color: #ffb103;
  transition: 0.5s;
  cursor: pointer;
}

.alert-warning:hover {
  background-color: rgba(220, 128, 1, 0.33);
  transition: 0.5s;
}

.warning {
  font-size: 18px;
  color: #ffb40b;
}

.alert-simple.alert-primary {
  border: 1px solid rgba(6, 241, 226, 0.81);
  background-color: rgba(1, 204, 220, 0.16);
  box-shadow: 0px 0px 2px #03fff5;
  color: #03d0ff;
  transition: 0.5s;
  cursor: pointer;
}

.alert-primary:hover {
  background-color: rgba(1, 204, 220, 0.33);
  transition: 0.5s;
}

.alertprimary {
  font-size: 18px;
  color: #03d0ff;
}

.alert:before {
  content: '';
  position: absolute;
  width: 0;
  height: calc(100% - 44px);
  border-left: 1px solid;
  border-right: 2px solid;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
  height: 20px;
}
