@import 'src/styles/style.scss';

.banner_part {
  height: 880px;
  position: relative;
  overflow: hidden;
  background-image: url('./images/banner_bg.png');
  background-repeat: no-repeat;
  background-size: 68%;
  background-position: top right;

  @media #{$small_mobile} {
    height: 700px;
    background-image: none;
    background-color: #f7f7f7;
  }
  @media #{$large_mobile} {
    height: 750px;
    background-image: none;
    background-color: #f7f7f7;
  }
  @media #{$tab_device} {
    height: 750px;
    background-image: none;
    background-color: #f7f7f7;
  }
  @media #{$medium_device} {
    height: 650px;
  }

  .banner_text {
    display: table;
    width: 100%;
    height: 880px;
    .banner_text_iner {
      display: table-cell;
      vertical-align: middle;
      @media #{$small_mobile} {
        vertical-align: bottom;
      }
      @media #{$large_mobile} {
        vertical-align: bottom;
      }
      @media #{$tab_device} {
        vertical-align: bottom;
      }
      @media #{$medium_device} {
        vertical-align: bottom;
      }
    }

    @media #{$small_mobile} {
      text-align: center;
      padding-top: 0px;
      height: 700px;
    }

    @media #{$large_mobile} {
      text-align: center;
      padding-top: 0px;
      height: 750px;
    }

    @media #{$tab_device} {
      text-align: center;
      padding-top: 0px;
      height: 750px;
    }

    @media #{$medium_device} {
      height: 650px;
    }

    h5 {
      font-size: 14px;
      text-transform: uppercase;
      font-weight: 500;
      color: #556172;
      margin-bottom: 14px;
    }

    h1 {
      font-size: 55px;
      text-transform: capitalize;
      font-weight: 700;
      margin-bottom: 27px;
      line-height: 1.18;

      @media #{$small_mobile} {
        font-size: 25px;
        margin-bottom: 15px;
        line-height: 1.3;
      }

      @media #{$large_mobile} {
        font-size: 40px;
        margin-bottom: 15px;
        line-height: 1.3;
      }

      @media #{$tab_device} {
        font-size: 40px;
        margin-bottom: 15px;
        line-height: 1.3;
      }

      @media #{$medium_device} {
        font-size: 40px;
        margin-bottom: 15px;
        line-height: 1.4;
      }

      span {
        color: $btn_bg;
      }
    }

    p {
      font-size: 15px;
      line-height: 1.8;
      font-family: $font_stack_1;
      color: $font_7;
    }

    .btn_1 {
      @extend %custom_btn_bg_1;
      box-shadow: 0px 12px 20px 0px rgba(255, 126, 95, 0.15);
      margin-top: 50px;
      padding: 13.5px 45px;

      @media #{$small_mobile} {
        margin-top: 20px;
        margin-bottom: 70px;
        padding: 10px 25px;
      }

      @media #{$large_mobile} {
        margin-top: 20px;
        margin-bottom: 70px;
        padding: 10px 25px;
      }

      @media #{$tab_device} {
        margin-top: 20px;
        margin-bottom: 70px;
        padding: 10px 25px;
      }

      @media #{$medium_device} {
        margin-top: 20px;
        margin-bottom: 70px;
        padding: 10px 25px;
      }
    }

    .btn_2 {
      margin-top: 50px;
      padding: 13px 46px;
      margin-left: 10px;

      @media #{$small_mobile} {
        margin-top: 20px;
        margin-bottom: 40px;
        padding: 10px 25px;
      }

      @media #{$large_mobile} {
        margin-top: 20px;
        margin-bottom: 40px;
        padding: 10px 25px;
      }

      @media #{$tab_device} {
        margin-top: 20px;
        margin-bottom: 40px;
        padding: 10px 25px;
      }

      @media #{$medium_device} {
        margin-top: 20px;
        margin-bottom: 70px;
        padding: 10px 25px;
      }
    }
  }

  &:after {
    position: absolute;
    top: 23%;
    width: 35%;
    height: 59%;
    content: '';
    background-image: url('./images/banner_img.png');
    background-size: 100% 100%;
    right: 9%;

    @media #{$small_mobile} {
      position: absolute;
      top: 110px;
      max-width: 100%;
      max-height: 100%;
      content: '';
      background-image: url('./images/banner_img.png');
      background-size: contain;
      right: 0;
      left: 0;
      text-align: center;
      margin: 0 auto;
      background-repeat: no-repeat;
    }

    @media #{$large_mobile} {
      position: absolute;
      top: 110px;
      max-width: 100%;
      max-height: 100%;
      content: '';
      background-image: url('./images/banner_img.png');
      background-size: contain;
      right: 0;
      left: 0;
      text-align: center;
      margin: 0 auto;
      background-repeat: no-repeat;
    }

    @media #{$tab_device} {
      position: absolute;
      top: 110px;
      max-width: 100%;
      max-height: 100%;
      content: '';
      background-image: url('./images/banner_img.png');
      background-size: contain;
      right: 0;
      left: 0;
      text-align: center;
      margin: 0 auto;
      background-repeat: no-repeat;
    }
    @media #{$medium_device} {
      position: absolute;
      max-width: 100%;
      max-height: 100%;
      content: '';
      background-image: url('./images/banner_img.png');
      background-size: contain;
      right: 5%;
      bottom: 0;
      top: 14rem;
      background-repeat: no-repeat;
    }
  }
}
