spring:
  datasource:
    url: jdbc:mysql://${MYSQL_HOST:localhost}:3306/cool_school?autoreconnect=true&createDatabaseIfNotExist=true&characterEncoding=utf8
    username: root
    password: root1234
    driver-class-name: com.mysql.cj.jdbc.Driver
  flyway:
    enabled: true
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database: mysql
    database-platform: org.hibernate.dialect.MySQLDialect

application:
  security:
    jwt:
      secret-key: 404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970
      expiration: 86400000 # a day
      refresh-token:
        expiration: 604800000 # 7 days
upload:
  directory: server/src/main/resources/static/uploads/