@import 'src/styles/style.scss';

/**************menu part start*****************/
.navbar .nav-item.active .nav-link {
  color: #ee390f;
}

.main_menu {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  max-height: 120px;
  z-index: 999;

  .navbar-brand {
    padding: 0rem !important;
  }

  .navbar {
    padding: 20px 0px;
  }
  .navbar-toggler {
    position: relative;
    z-index: 1;
    &:after {
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: -1;
      @extend %custom_btn_bg_1;
      background-size: 200% auto;
    }
  }
  .main-menu-item {
    text-align: right;
    justify-content: right;
    @media #{$medium_device} {
      padding-left: 25px;
    }
    ul {
      li .nav-link {
        color: $menu_color;
        font-size: 15px;
        padding: 0px 24px;
        font-family: $font_stack_1;
        @media #{$medium_device} {
          padding: 0px 16px;
        }
        &:hover {
          color: #ee390f;
        }
      }
      .btn_1 {
      }
    }
  }
}

.home_menu {
}

.dropdown-menu {
  border: 0px solid rgba(0, 0, 0, 0.15) !important;
  background-color: #fafafa;
}

.dropdown {
  .dropdown-toggle {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
  }
  .dropdown-menu {
    transition: all 0.5s;
    overflow: hidden;
    transform-origin: top center;
    transform: scale(1, 0);
    display: block;
    .dropdown-item {
      font-size: 14px;
      padding: 9px 18px !important;
      color: $black_color !important;

      &:hover {
        color: $btn_bg !important;
      }

      &.active {
        color: #ee390f !important;
        background-color: transparent;
      }
    }
  }
  &:hover {
    .dropdown-menu {
      transform: scale(1);
    }
  }
}
@media #{$small_mobile} {
  .single_page_menu {
    .navbar-collapse {
      ul {
        li .nav-link {
          color: $black-color !important;
        }
      }
    }
  }

  .navbar-light .navbar-toggler {
    border-color: transparent;
  }
  .navbar-collapse {
    z-index: 9999 !important;
    position: absolute;
    left: 0;
    top: 71px;
    width: 100%;
    background-color: $white-color;
    text-align: center !important;
  }
  .main_menu .main-menu-item {
    text-align: left !important;
    .nav-item {
      padding: 5px 15px !important;
      a {
        padding: 5px 15px !important;
      }
    }
  }
  .navbar-nav {
    align-items: start !important;
  }
  .dropdown {
    .dropdown-menu {
      transform: scale(1, 0);
      display: none;
      margin-top: 10px;
    }
    &:hover {
      .dropdown-menu {
        transform: scale(1);
        display: block;
        color: $btn_bg;
      }
    }
    .dropdown-item:hover {
      color: $btn_bg !important;
    }
  }
}

@media #{$large_mobile} {
  .single_page_menu {
    .navbar-collapse {
      ul {
        li .nav-link {
          color: $black-color !important;
        }
      }
    }
  }
  .navbar-light .navbar-toggler {
    border-color: transparent;
  }
  .navbar-collapse {
    z-index: 9999 !important;
    position: absolute;
    left: 0;
    top: 71px;
    width: 100%;
    background-color: $white-color;
    text-align: center !important;
  }
  .main_menu .main-menu-item {
    text-align: left !important;
    .nav-item {
      padding: 10px 15px !important;
      a {
        padding: 5px 15px !important;
      }
    }
  }
  .navbar-nav {
    align-items: start !important;
  }
  .dropdown {
    .dropdown-menu {
      transform: scale(1, 0);
      display: none;
      margin-top: 10px;
    }
    &:hover {
      .dropdown-menu {
        transform: scale(1);
        display: block;
      }
    }
    .dropdown-item:hover {
      color: $btn_bg !important;
    }
  }
}

@media #{$tab_device} {
  .single_page_menu {
    .navbar-collapse {
      ul {
        li .nav-link {
          color: $black-color !important;
        }
      }
    }
  }
  .navbar-light .navbar-toggler {
    border-color: transparent;
  }
  .navbar-collapse {
    z-index: 9999 !important;
    position: absolute;
    left: 0;
    top: 71px;
    width: 100%;
    background-color: $white-color;
    text-align: center !important;
  }
  .main_menu .main-menu-item {
    text-align: left !important;
    .nav-item {
      padding: 10px 15px !important;
      a {
        padding: 5px 15px !important;
      }
    }
  }
  .navbar-nav {
    align-items: start !important;
  }
  .dropdown {
    .dropdown-menu {
      transform: scale(1, 0);
      display: none;
      margin-top: 10px;
    }
    &:hover {
      .dropdown-menu {
        transform: scale(1);
        display: block;
        color: $btn_bg;
      }
    }
    .dropdown-item:hover {
      color: $btn_bg !important;
    }
  }
}
.single_page_menu {
  .logo_2 {
    display: none;
  }
  .logo_1 {
    display: inherit;
  }

  .main-menu-item {
    ul {
      li .nav-link {
        color: $white-color;
        font-size: 15px;
        padding: 0px 24px;
        font-family: $font_stack_1;
        @media #{$medium_device} {
          padding: 0px 16px;
        }
      }
    }
  }
}
.menu_fixed {
  position: fixed;
  z-index: 9999 !important;
  width: 100%;
  background-color: $white-color;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.05);
  top: 0;
  .logo_2 {
    display: inherit;
  }
  .logo_1 {
    display: none;
  }
  .main-menu-item {
    ul {
      li .nav-link {
        color: $black_color;
      }
    }
  }
}
