@import 'src/styles/style.scss';

.single_feature {
  &:hover {
    .single_feature_part {
      border: 1px solid $btn_bg;
    }
    span {
      @extend %custom_btn_bg_1;
      background-size: 200% auto;

      i {
        color: $white_color;
      }
    }
  }
}
