@import 'src/styles/style.scss';

.quiz-start-wrapper {
  margin-top: 15vh;
  margin-bottom: 10vh;

  .quiz-start {
    @include box-shadow(0px 6px 16.83px 0.17px rgba(0, 0, 0, 0.15));
  }

  .attempt-grid {
    max-height: 150px;
    height: 100%;
  }
}
