@import 'src/styles/style.scss';

.blog-cards-wrapper {
  justify-content: center;

  @media #{$small_mobile} {
    gap: 20px;
  }
}

.blog_part {
  padding-top: 0 !important;

  @media #{$small_mobile} {
    padding-bottom: 50px;
  }
  @media #{$large_mobile} {
    padding-bottom: 50px;
  }
  @media #{$tab_device} {
    padding-bottom: 50px;
  }
  @media #{$medium_device} {
    padding-bottom: 50px;
  }
}
