@import 'src/styles/style.scss';

.blog_area {
  a {
    color: $font_1 !important;
    text-decoration: none;
    @include transform_time(0.5s);
    &:hover,
    :hover {
      color: $btn_bg;
    }
  }
}
