@import 'src/styles/style.scss';

.feature_part {
  @media #{$small_mobile} {
    text-align: center;
  }

  .single_feature_part {
    padding: 50px 20px 35px;
    border: 1px solid $icon_bg;
    text-align: center;

    @include transform_time(0.6s);
    @media #{$small_mobile} {
      padding: 25px 10px;
      margin-top: 25px;
    }

    @media #{$large_mobile} {
      padding: 30px 15px;
      margin-top: 25px;
    }

    @media #{$tab_device} {
      padding: 30px 25px;
      margin-top: 25px;
    }

    @media #{$medium_device} {
      margin-top: 25px;
    }

    span {
      margin-bottom: 30px;
      display: inline-block;
      position: relative;
      z-index: 1;
      width: 70px;
      height: 70px;
      border-radius: 50%;
      text-align: center;
      background-color: $icon_bg;
      display: inline-block;
      line-height: 80px;
      @include transform_time(0.6s);
      @media #{$small_mobile} {
        margin-bottom: 25px;
      }

      @media #{$large_mobile} {
        margin-bottom: 35px;
      }

      @media #{$tab_device} {
        margin-bottom: 35px;
      }

      @media #{$medium_device} {
      }
      i {
        color: $icon_color;
        font-size: 24px;
        @include transform_time(0.6s);
      }
    }
    h4 {
      font-weight: 600;
      font-size: 20px;
      margin-bottom: 20px;
      @media #{$small_mobile} {
        margin-bottom: 15px;
      }

      @media #{$large_mobile} {
        margin-bottom: 15px;
      }

      @media #{$tab_device} {
        margin-bottom: 15px;
      }

      @media #{$medium_device} {
      }
    }

    p {
      color: $font_3;
      line-height: 1.8;
      font-size: 15px;
    }
  }
}
.single_feature_padding {
  padding-top: 140px;
  @media #{$small_mobile} {
    padding-top: 70px;
  }
  @media #{$large_mobile} {
    padding-top: 70px;
  }
  @media #{$tab_device} {
    padding-top: 70px;
  }
  @media #{$medium_device} {
    padding-top: 70px;
  }
}
